@import url(global.css);

body {
    display: flex;
    flex-direction: column;
    padding: 3vw;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

canvas {
    width: 100% !important;
    height: 275px !important;
}