.grid-2x-2-1, .grid-1x, .grid-1x-10px {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-items: center;
}

.grid-2x-2-1 {
    grid-template-columns: 2fr 1fr;
}

.grid-1x, .grid-1x-10px {
    grid-template-columns: 1fr;
}

.grid-1x-10px {
    gap: 10px;
}

.grid-2x-2-1 > *, .grid-1x > *, .grid-1x-10px > * {
    width: 100%;
}

.button-grid, .polar-grid {
    display: grid;
    grid-auto-flow: column;
}

.button-grid {
    justify-content: left;
    column-gap: 20px;
}

.polar-grid {
    justify-content: space-between;
}

@media (max-width: 900px) {
    .grid-2x-2-1 {
        grid-template-columns: 1fr;
    }
}