@import url(global.css);

body {
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-section {
    margin-right: 2.5vw;
    height: 100%;
    width: 400px;
    max-width: 90vw;
}

.login-form {
    padding: 25px;
    border-radius: 25px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    background-color: var(--card-background);
}

.login-image {
    margin-left: 2.5vw;
    padding: 25px;
    border-radius: 25px;
    height: 100vmin;
    max-height: 400px;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    background-color: var(--image-card-background);
}

@media only screen and (max-width: 600px) {
    body {
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .login-section {
        margin-right: 0;
    }

    .login-form {
        border-radius: 25px 25px 0px 0px;
    }

    .login-image {
        margin-left: 0;
        border-radius: 0px 0px 25px 25px;
        background-color: var(--card-background);
    }
}