aside {
    padding: 1.5%;
    background-color: var(--card-background);
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}