@import url(global.css);

body {
    display: flex;
    flex-direction: row;
}

iframe {
    width: 100%;
}

aside {
    padding: 1.5%;
    background-color: var(--card-background);
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-1x {
    gap: 10px;
}