<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/overrides/dashboard.css">
    <script src="..\js\agenda.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <title>Agenda de atividades</title>
</head>
<body>
    <div class="grid grid-1x">
        <h1>Bom dia, NOME</h1>

        <div class="button-grid">
            <button><span class=" material" onclick="toggleForm()">add</span>Novo Evento</button>
        </div>
        

        <div class="add-event-form" id="event-form" style="display: none;">
            <h3>Adicionar Evento</h3>
            <label>Data: <input type="date" id="event-date"></label>
            <label>Descrição: <input type="text" id="event-desc" placeholder="Ex: Reunião às 10h"></label>
            <button onclick="addEvent()">Adicionar</button>
        </div>


        <div class="grid grid-2x-2-1">

                <div class="grid grid-1x-10px card">
                    <div class="grid button-grid">
                        <h2>Calendário</h2>
                        <h5 id="html"></h5>
                    </div>
                    <div class="calendar" id="calendar-sumary">Carregando...</div>
                </div>


                
                <div class="grid grid-1x-10px card">
                    <div class="grid button-grid">
                        <h2>Calendário</h2>
                        <h5 id="html"></h5>
                    </div>
                    <div class="calendar" id="calendar-detailed">Carregando...</div>
                </div>

                

                <div class="grid grid-1x-10px card">
                    <h2>Eventos</h2>
                    <div class="grid grid-1x-10px">
                        <div class="subcard">Passeio ao ar livre</div>
                        <div class="subcard">Tech Rock</div>
                        <div class="subcard">Excursão</div>
                    </div>
                </div>
        </div>

    </div>
        
    <script src="calendar.js"></script>
</body>
</html>