<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/overrides/agenda.css">
    
    <title>Agenda de atividades</title>
</head>
<body>
    <div class="grid grid-1x">
        <h1>Bom dia, NOME</h1>

        <div class="button-grid">
            <button onclick="toggleForm()">+ Novo Evento</button>
        </div>
        

        <div class="add-event-form" id="event-form">
            <h3>Adicionar Evento</h3>
            <label>Data: <input type="date" id="event-date"></label>
            <label>Descrição: <input type="text" id="event-desc" placeholder="Ex: Reunião às 10h"></label>
            <button onclick="addEvent()">Adicionar</button>
        </div>


        <div class="grid grid-2x-2-1">

                <div class="grid grid-1x-10px card">
                    <div class="grid button-grid">
                        <h2>Calendário</h2>
                        <h5 id="detailed-title"></h5>
                    </div>
                    <div class="calendar" id="calendar-detailed">Carregando...</div>
                </div>


                
                <div class="grid grid-1x-10px card">
                    <div class="grid button-grid">
                        <h2>Calendário</h2>
                        <h5 id="summary-title"></h5>
                    </div>
                    <div class="calendar" id="calendar-summary">Carregando...</div>
                </div>

                

                <div class="grid grid-1x-10px card">
                    <h2>Eventos</h2>
                    <div class="grid grid-1x-10px">
                        <div class="subcard">Passeio ao ar livre</div>
                        <div class="subcard">Tech Rock</div>
                        <div class="subcard">Excursão</div>
                    </div>
                </div>
        </div>

    </div>
    <script src="../../assets/js/agenda.js"></script>
</body>
</html>