@import url(../global.css);

#event-form{
    display: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}
h3{
    text-align: center;
}
input, label, button{
    margin-top: 0.3rem;
}
input, label{
    display:block;
    width: 100%;
    font-size: 14px;
    color: var(--input-focused);
}
